{% extends 'base.html' %}

{% block title %}
<title>About Us </title>
{% endblock title %}


{% block content %}
<div class="container">{{text}}
    <h1>About Us:</h1>
    <h5><i><br>
    Hospital information systems (HIS) and electronic 
    medical records (EMR) are currently considered a major
     part of the healthcare system, on which all the processes
      of care delivery depend. They have the potential to 
      provide substantial benefits to healthcare professionals, 
      patients and healthcare organizations. The study used 
      quantitative survey methods through a questionnaire to 
      collect data and information directly from different 
      categories of healthcare professionals of four Saudi 
      hospitals. Valid responses were 153 and ten perceived 
      benefits were validated and ranked, these are: <br><br>1) Improved 
      information access. <br>2) Increased healthcare professionals 
      productivity. <br>3) Improved efficiency and accuracy of coding 
      and billing. <br>4) Improved quality of healthcare. <br>5) Improved 
      clinical management (diagnosis and treatment).<br> 6) Reduced 
      expenses associated with paper medical records.<br>7) Reduced 
      medical errors. <br>8) Improved patient safety. <br>9) Improved 
      patient outcomes and. <br>10) Improved patient satisfaction. 
      There is still limited data regarding the direct economic
       benefits of HIS & EMR.<br><h6>(Australian Institute of Health InnovationCentre for Health Informatics, Mohamed Khalifa)</h6>
    </i></h5></div>
{% endblock content %}